a {
  text-decoration: none;
  color: #b3b3b3;
  padding: 0px 10px 0px 10px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 20px;
}

a:hover {
  color: #1db954;
}

h1{
  color: #ffffff;
  font-family: 'proxima-nova', sans-serif;
  font-size: 80px;
}

.top-menu{
  text-align: center;
  padding-bottom: 50px;
}

.text-container{
  background-color: #212121;
  padding: 200px 6px 200px 6px;
}

body{
  background-color: #121212;
}